// Font
$default-font: "Lato", sans-serif;
$work-sans-font: "Work Sans", sans-serif;
$open-sans-font: "Open Sans", sans-serif;
$oxanium-font: "Oxanium", sans-serif;
$poppins-font: "Poppins", sans-serif;
$xanh-mono-font: "Xanh Mono", sans-serif;
$source-han-sans-font: "Source Han Sans CN", sans-serif;
