@import "src/styles/mixins";
@import "src/styles/constants";

.game {
  padding: 30px 0 111px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202126;

  &-effect {
    position: absolute;
    width: 208px;
    bottom: -98px;
    left: 154px;

    @include respond(md) {
      display: none;
    }
  }

  &-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    background: linear-gradient(90deg, #E0AD6E 18.91%, #FFFFAD 42.17%, #DBAA68 63.54%, #92663F 84.03%);    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin: 0;
    text-transform: uppercase;
    font-family: $source-han-sans-font;
  }

  &-arrow {
    height: 16px;
    width: 240px;
    margin-bottom: 60px;
  }

  &-list {
    display: flex;
    justify-content: center;
    align-items: center;

    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 50px;

      &-img {
        width: 395px;
        margin-bottom: 20px;

        @include respond(md) {
          width: 100%;
        }
      }

      p {
        font-weight: 300;
        font-size: 13px;
        line-height: 237%;
        text-align: center;
        color: #FFFEFF;
        font-family: $source-han-sans-font;
      }

      &:last-child {
        margin: 0;
      }

      @include respond(md) {
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    @include respond(md) {
      flex-direction: column;
    }
  }

  @include respond(md) {
    padding: 30px 0 60px 0;
  }
}