@import "src/styles/mixins";
@import "src/styles/constants";

.header {
  padding: 50px 195px 50px 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #8B8A61;
  background: rgba(0, 0, 0, 0.6);
  z-index: 3;
  position: relative;

  &-sidebar {
    position: absolute;
    width: 100%;
    height: 270px;
    top: -270px;
    transition: 0.5s;
    left: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
    background: rgba(0, 0, 0, 0.95);

    &.active {
      top: 80px;
      opacity: 1;
      color: #fff;
    }

    &-link {
      font-family: $work-sans-font;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      padding: 25px;
    }
  }

  &-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &-img {
    width: 262px;
    position: absolute;
    top: 0;
    left: 117px;
    z-index: 1;

    @include respond(md) {
      width: 132px;
      position: relative;
      left: unset;
      margin-bottom: -20px;
    }
  }

  &-other {
    display: flex;
    align-items: center;

    &-link {
      font-family: $work-sans-font;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      color: #fff;
      margin-right: 70px;
      text-decoration: none;
      text-transform: uppercase;

      &:last-child {
        margin-right: 67px;
      }

      @include respond(md) {
        display: none;
      }
    }

    &-burger {
      display: none;
      margin-left: 15px;
      cursor: pointer;
      background-color: inherit;
      border: none;
      padding: 0;
      width: 26px;

      @include respond(md) {
        display: block;
      }
    }

    &-btn {
      border: 1px solid #B18653;
      border-radius: 10px;
      width: 124px;
      height: 31px;
      display: flex;
      font-family: $open-sans-font;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 12px;
      line-height: 16px;
      color: #DEDC95;
      text-transform: uppercase;
      background-color: inherit;
      cursor: pointer;

      @include respond(md) {
        width: 104px;
      }
    }
  }

  @include respond(md) {
    padding: 10px;
    justify-content: space-between;
    align-items: center;
  }
}